<div class="toolbar" role="banner">
  <img routerLink="/" width="40" alt="Angular Logo" src="https://www.iconpacks.net/icons/2/free-hotel-icon-1880-thumb.png"/>
  <h2 routerLink="/">Busca Hoteis</h2>

  <div class="spacer"></div>
  <p-button *ngIf="!authService.loginActive" label="Login" routerLink="/login" styleClass="ui-button-danger" icon="pi pi-user" iconpos="left" [style]="{'margin-right': '25px'}"></p-button>
  <p-button *ngIf="authService.loginActive" label="Logout" (click)="authService.logout()" styleClass="ui-button-danger" icon="pi pi-user" iconpos="left" [style]="{'margin-right': '25px'}"></p-button>
</div>

<div class="content" role="main">

  <router-outlet></router-outlet>
</div>
